
 .tolu{
  color: #ffffffa6;
  background: #292929 !important;
}

.ant-layout-header{
  background: #292929 !important;
  padding: 40px 0 77px 40px !important;

}

.image-show{
  height: 100%;
  width: 100%;
  position: relative;
}

.watch-incredible{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 94px;
letter-spacing: -0.05em;
color: #fff;
position: absolute;
left: 77px;
top: -447px;
}

.search-form{
  padding: 5%;
}

.ant-input{
  border: 1px solid #000000 !important;
}

.ant-card {
  border-radius: 12px;
  background-color: #000000;
  padding: 10px;
}

.card-name{
    color: #fff;
    text-align: center;
    padding: 10%;
}


.border-nav{
  border: 1px solid #ffff !important;
}